<div class="main-container">
    <div class="offer-container">

        <div class="loader" *ngIf="loading_list">
            <div class="loding-logo">
                <mat-spinner></mat-spinner>
            </div>
        </div>
        <div class="row">
            <div class="col s12 padding0">
                <div class="sprate-box" style="margin-bottom: 40px;">
                    <div class="full-offer">
                        <div class="top-heading no-justify">
                            <a class="back-btn" (click)="goBack()"><i class="material-icons">arrow_back</i></a>
                            <h2>SALES EXECUTIVE DETAIL</h2>
                        </div>

                        <div class="detail-info">

                            <div class="basic-details">
                                <div class="profile-info">
                                    <ul>

                                        <li>
                                            <figure>
                                                <div class="left-img zoom-cursor" *ngIf="getData.profile">
                                                    <img [src]="uploadUrl + getData.profile"
                                                        (click)="openDialog(uploadUrl + getData.profile)">
                                                </div>
                                                <div class="right-cont">
                                                    <p>Name</p>
                                                    <span>{{getData.first_name | titlecase }} {{getData.last_name |
                                                        titlecase }}</span>
                                                </div>
                                            </figure>
                                        </li>

                                        <li>
                                            <figure>
                                                <!-- <div class="left-img">
                                                    <img src="assets/contact.svg">
                                                </div> -->
                                                <div class="right-cont">
                                                    <p>Mobile No.</p>
                                                    <span>{{getData.mobile_no}}</span>
                                                </div>
                                            </figure>
                                        </li>

                                     

                                        <!-- <li>
                                          <figure>
                                              <div class="left-img">
                                                  <img src="assets/calendar.svg">
                                              </div>
                                              <div class="right-cont">
                                                  <p>Date of Birth</p>
                                                  <span>{{getData.dob  | date : 'dd MMM yyyy'}}</span>
                                              </div>
                                          </figure>
                                          
                                      </li> -->

                                    </ul>

                                    <ul>
                                        <li>
                                            <figure>
                                                <!-- <div class="left-img">
                                                    <img src="assets/contact.svg">
                                                </div> -->
                                                <div class="right-cont">
                                                    <p>State</p>
                                                    <span>{{getData.state}}</span>
                                                </div>
                                            </figure>
                                        </li>

                                        <li>
                                            <figure>
                                                <!-- <div class="left-img">
                                                    <img src="assets/contact.svg">
                                                </div> -->
                                                <div class="right-cont">
                                                    <p>District</p>
                                                    <span>{{getData.district | titlecase }}</span>
                                                </div>
                                            </figure>
                                        </li>

                                        <li>
                                            <figure>
                                                <!-- <div class="left-img">
                                                    <img src="assets/contact.svg">
                                                </div> -->
                                                <div class="right-cont">
                                                    <p>City</p>
                                                    <span>{{getData.city | titlecase }}</span>
                                                </div>
                                            </figure>
                                        </li>

                                        <li>
                                            <figure>
                                                <!-- <div class="left-img">
                                                    <img src="assets/contact.svg">
                                                </div> -->
                                                <div class="right-cont">
                                                    <p>Pincode</p>
                                                    <span>{{getData.pincode}}</span>
                                                </div>
                                            </figure>
                                        </li>

                                    </ul>

                                    <ul class="mt10">
                                        <li>
                                            <figure>
                                                <!-- <div class="left-img">
                                                    <img src="assets/book.svg">
                                                </div> -->
                                                <div class="right-cont">
                                                    <p>Address</p>
                                                    <span>{{getData.address | titlecase }} {{getData.city | titlecase }}
                                                        {{getData.district | titlecase }} {{getData.state | titlecase }}
                                                        {{getData.pincode}}</span>

                                                </div>
                                            </figure>
                                        </li>
                                    </ul>

                                    <!-- <ul class="mt10">
                                      <li>
                                          <figure>
                                              <div class="left-img">
                                                  <img src="assets/qr-code.svg">
                                              </div>
                                              <div class="right-cont">
                                                  <p>Referral Code</p>
                                                  <span>{{!getData.referral_code ? 'N/A' : getData.referral_code | uppercase}}</span>
                                              </div>
                                          </figure>
                                      </li>
                                      <li *ngIf="getData.reference_by">
                                          <figure>
                                              <div class="left-img">
                                                  <img src="assets/man.svg">
                                              </div>
                                              <div class="right-cont">
                                                  <p>Reference By</p>
                                                  <span>{{getData.reference_by}} / {{getData.reference_mobile_no}}</span>
                                              </div>
                                          </figure>
                                      </li>
                                  </ul> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="col s6 padding0 pl15">
              <div class="sprate-box gift-offer">
                  <div class="full-offer">
                      <div class="top-heading">
                          <h2>DOCUMENT DETAIL</h2>
                      </div>
                      
                      <div class="sprate-box defult">
                          <div class="detail-info defult-css">
                              <div class="img-box">
                                  <img src="{{getData.document_image ? getData.document_image : 'assets/default-image.png'}}" (click)="getData.document_image!='' && openDialog( getData.id,'test6')">
                              </div>
                              <div class="basic-details">
                                  <div class="profile-info">
                                      <ul>
                                          <li>
                                              <p>Document Type</p>
                                              <span>{{getData.document_type!='' ? getData.document_type : 'N/A'}}</span>
                                          </li>
                                          
                                          <li>
                                              <p>Document Number</p>
                                              <span>{{getData.document_no ? getData.document_no : 'N/A'}}</span>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            </div> -->


           
        </div>


        <div class="row">
            <div class="used-code">
                <div class="tab-header">
                    <div class="tab-header no-sticky gift-tab-list ">
                        <div class="tabs-list gift-tab-list ">
                            <ul>

                                <li (click)="mode='1'; karigarlist()" [ngClass]="{'active': mode == '1'}">
                                    <a>
                                        <p>ASSIGN ARCHITECT LIST </p>
                                        <span>{{reedam_all}}</span>
                                    </a>
                                </li>


                                <li (click)="mode='2'; getSalesUserSites()" [ngClass]="{'active': mode == '2'}" >
                                    <a>
                                        <p>SITES DETAIL</p>
                                        <span>{{total_site}}</span>
                                    </a>
                                </li>
                             

                                <li (click)="mode='3'; getPurchaseList()" [ngClass]="{'active': mode == '3'}" >
                                    <a>
                                        <p>PURCHASE ORDERS</p>
                                        <span>{{total_count}}</span>
                                    </a>
                                </li>

                             

                                <!-- <li (click)="mode='4'; getReferral()" [ngClass]="{'active': mode == '4'}">
                                    <a>
                                        <p>OTHER POINTS</p>
                                        <span>{{referral_data.length}}</span>
                                    </a>
                                </li> -->
                            </ul>
                        </div>
                    </div>
                    <!-- <div class="dobale">
                        <div class="top-pagination" *ngIf="mode == '1'">
                            <ul>
                                <li>
                                    <p>Pages {{ current_page }} of {{ last_page }}</p>
                                </li>
                                <li><button mat-button class="left-btn" (click)='redirect_previous2()'><i
                                            class="material-icons">keyboard_arrow_left</i></button></li>
                                <li><input type="text" placeholder="GO TO" [(ngModel)]="current_page"
                                        (keyup.enter)="myPointList()"></li>
                                <li><button mat-button class="right-btn" (click)='redirect_next2()'><i
                                            class="material-icons">keyboard_arrow_right</i></button></li>
                            </ul>
                        </div>
                        <div class="sprate">
                            <div class="downlode-file">
                                <a mat-button class="link" (click)="export()">Export Excel</a>
                            </div>
                        </div>

                            <div class="sprate" *ngIf="mode == '1'">
                            <div class="downlode-file">
                                <a mat-button class="link" (click)="exportExcel()">Export Excel</a>
                            </div>
                        </div>


                    </div> -->
                </div>
            </div>

            <div class="">
               

                <div class="css-table css-table left-right-10" *ngIf="mode == '1'">
                    <div class="sticky-header">
                      <div class="header">
                        <table>
                          <tr>
                            <th class="w30">&nbsp;</th>
                            <th class="w100">Date Created</th>
                            <th class="w160">Created By</th>
                            <th>Name</th>
                            <th class="w100">Mobile</th>
                            <th class="w135">State</th>
                            <th class="w135">District</th>
                            <!-- <th class="w150">Dealer</th>
                              <th class="w120">Dealer Contact</th> -->
                              
                              <!-- <th class="w90 text-center">Wallet Points</th>
                                <th class="w70 text-center">Requests</th> -->
                                <th class="w100 text-center">Status</th>
                              </tr>
                            </table>
                          </div>
                          
                        </div>
                        <div class="table-container">
                          <div class="table-body">
                            <table>
                              <tr *ngFor="let val of architect_list; let i = index">
                                <td class="w30">{{ ( (current_page - 1 ) * 20 ) + ( i+1 ) }}</td>
                                <td class="w100">
                                  <ng-container *ngIf="val.date_created  != '0000-00-00 00:00:00' " > 
                                    {{val.date_created | date: 'dd MMM yyyy'}} 
                                  </ng-container>
                                </td>
                                <td class="w160">
                                  {{val.created_name}}
                                </td>
                                <td><a class="blue" routerLink="/dealer-detail/{{val.id}}/{{current_page}}" routerLinkActive="active">{{val.first_name | titlecase }} {{val.last_name | titlecase }}</a></td>
                                <td class="w100">{{val.mobile_no}}</td>
                                <td class="w135">{{val.state | titlecase }}</td>
                                <td class="w135">{{val.district | titlecase }}</td>
                                <!-- <td class="w90 text-center">{{val.total_wallet_point}}</td>
                                  <td class="w70 text-center"><span class="back-bg">{{val.redeem_request}}</span></td> -->
                                  <td class="w100">
                                    <strong class="{{val.status}}">{{val.status}}</strong>
                                  </td>
                                </tr>
                              </table>
                            </div>
                            
                            
                            <div class="date-not" *ngIf="architect_list.length == 0">
                              <div class="no-img">
                                <img src="assets/not-available.jpg"> 
                              </div>
                            </div>
                          </div>
                        </div>


                <div class="css-table left-right-10" *ngIf="mode == '2'">
                    <div class="sticky-header bo-non">
                        <div class="header">
                            <table>
                                <tr>
                                    <th class="w20">&nbsp;</th>
                                    <th class="w150">Date / Created By</th>
                                    <th class="w250">Site Address</th>
                                    <th class="w200">Owner Detail</th>
                                    <th class="w100">Site Type</th>
                                   
                                </tr>
                            </table>
                        </div>
                        <div class="header">
                            <table>
                                <tr>
                                    <th class="w20">&nbsp;</th>
                                    <th class="w150">
                                        <div class="vaild-into">
                                            <div class="date-form">
                                                <mat-form-field >
                                                    <i *ngIf="filter.date" class="material-icons" (click)="filter.date = '';getSalesUserSites('') ">clear</i>
                                                    
                                                    <input placeholder="Date" [(ngModel)]="filter.date"  name="date" (click)="openDatePicker(picker1)" matInput (dateChange)="getSalesUserSites('')" [matDatepicker]="picker1" readonly>
                                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                                    <mat-datepicker #picker1></mat-datepicker>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </th>  
                                    <th class="w250">
                                        <div class="search-form">
                                            <input type="text" placeholder="Search..." [(ngModel)]="filter.site_address"  (keyup.enter)="current_page = 1;getSalesUserSites('')">
                                            <i class="material-icons">search</i>
                                        </div>
                                    </th> 
                                    <th class="w200">
                                        <div class="search-form">
                                            <input type="text" placeholder="Search..." [(ngModel)]="filter.site_owner_name"  (keyup.enter)="current_page = 1;getSalesUserSites('')">
                                            <i class="material-icons">search</i>
                                        </div>
                                    </th>
                                    <th class="w100">
                                        <div class="form-area">
                                            <div class="slect mr0">
                                                <mat-form-field>
                                                    <mat-label>Search</mat-label>
                                                    <mat-select [(ngModel)]="filter.site_type" name="site_type" #site_type="ngModel" (selectionChange)="getSalesUserSites('')">
                                                        <mat-option value="">All</mat-option>
                                                        <mat-option value="Open">Open</mat-option>
                                                        <mat-option value="Non- Max Site">Non- Max Site</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </th>
                                  
                                    
                                  
                                                     
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="table-container">
                        
                        <div class="table-body">
                            <table>
                                <tr *ngFor="let val of sites_list; let i = index">
                                    <td class="w20">{{ i + 1 }}</td>
                                    <td class="w150">
                                        <ng-container *ngIf="val.date_created  != '0000-00-00 00:00:00' " > 
                                            {{val.date_created | date: 'dd MMM yyyy'}} / {{val.created_name | titlecase}}
                                        </ng-container>
                                    </td>
                                    <td class="w250"><a class="blue" routerLink="/site-detail/{{val.id}}/{{current_page}}"  routerLinkActive="active">{{val.address}},{{val.state}}, {{val.district}}</a></td>
                                    <td class="w200">{{val.site_owner_name | titlecase}} - {{val.site_owner_contact}}</td>
                                    <td class="w100">{{val.site_type | titlecase}}</td>
                                   
                                   
                                </tr>
                            </table>
                        </div>
                        
                        <div class="date-not" *ngIf="sites_list.length == 0">
                            <div class="no-img">
                                <img src="assets/not-available.jpg"> 
                            </div>
                        </div>
                    </div>
                </div>


                <div class="css-table left-right-10" *ngIf="mode == '3'">
                            
                            
                    <div class="sticky-header bo-non">
                        <div class="header">
                            <table>
                                <tr>
                                    <th class="w20">&nbsp;</th>
                                    <th class="w150">Date / Created By</th>
                                    <th class="w100">Purchase ID</th>
                                    <th>Site Address</th>
                                    <th class="w200">Product Name</th>
                                    <th class="w100 text-center">Quantity</th>
                                    <th class="w100">Status</th>
                                    <!-- <th class="w100">Company Status</th> -->
                                    <th class="w100 text-center">Architect  Points</th>
                                </tr>
                            </table>
                        </div>
                        <div class="header">
                            <table>
                                <tr>
                                    <th class="w20">&nbsp;</th>
                                    <th class="w150"></th>  
                                    <th class="w100"></th>  
                                    <th>
                                        <div class="search-form">
                                            <input type="text" placeholder="Search..." [(ngModel)]="filter.site_address"  (keyup.enter)="current_page = 1;getPurchaseList('')">
                                            <i class="material-icons">search</i>
                                        </div>
                                    </th>                          
                                    <!-- <th class="w150">
                                        <div class="search-form">
                                            <input type="text" placeholder="Search..." [(ngModel)]="filter.first_name"  (keyup.enter)="current_page = 1; getPurchaseList('')">
                                            <i class="material-icons">search</i>
                                        </div>
                                    </th> -->
                                    <th class="w200">
                                        <div class="search-form">
                                            <input type="text" placeholder="Search..." [(ngModel)]="filter.product_name"  (keyup.enter)="current_page = 1; getPurchaseList('')">
                                            <i class="material-icons">search</i>
                                        </div>
                                    </th>
                                    <th class="w100 text-center">
                                        <div class="form-area">
                                            <div class="slect mr0">
                                                <mat-form-field>
                                                    <mat-select [(ngModel)]="filter.dealer_status" name="dealer_status" #dealer_status="ngModel" (selectionChange)="current_page = 1;getPurchaseList('')">
                                                        <mat-option value="">All</mat-option>
                                                        <mat-option value="Pending">Pending</mat-option>
                                                        <mat-option value="Verified">Verified</mat-option>
                                                        <mat-option value="Rejected">Rejected</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </th>
                                    <!-- <th class="w100 text-center">
                                        <div class="form-area">
                                            <div class="slect mr0">
                                                <mat-form-field>
                                                    <mat-select [(ngModel)]="filter.company_status" name="company_status" #company_status="ngModel" (selectionChange)="current_page = 1;getPurchaseList('')">
                                                        <mat-option value="">All</mat-option>
                                                        <mat-option value="Pending">Pending</mat-option>
                                                        <mat-option value="Verified">Verified</mat-option>
                                                        <mat-option value="Rejected">Rejected</mat-option>
                                                        
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </th> -->
                                    <th class="w100"></th>
                                    <th class="w100"></th>

                                    
                                    <!-- <th class="w50 text-center"></th>                -->
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="table-container">
                        <div class="table-body">
                            <table>
                                <tr *ngFor="let val of site_locations; let i = index">
                                    <td class="w20">{{ ( (current_page - 1 ) * 20 ) + ( i+1 ) }}</td>
                                    <td class="w150">
                                        <ng-container *ngIf="val.date_created  != '0000-00-00 00:00:00' " > 
                                            {{val.date_created | date: 'dd MMM yyyy'}} / {{val.created_name}}
                                        </ng-container>
                                    </td>
                                    <td class="w100"><a class="blue" routerLink="/purchase-detail/{{val.id}}/{{current_page}}"  routerLinkActive="active">#Pur {{val.id}}</a></td>
                                    <td><a class="blue" routerLink="/site-detail/{{val.site_location_id}}/{{current_page}}"  routerLinkActive="active">{{val.site_address}}</a></td>
                                    <!-- <td class="w150"><a class="blue" routerLink="/dealer-detail/{{val.dealer_id}}/{{current_page}}" routerLinkActive="active">{{val.dealer_name | titlecase}} - {{val.dealer_mobile_no}}</a></td> -->
                                    <td class="w200">{{val.product_name}}</td>
                                    <td class="w100 text-center">{{val.qty}}</td>
                                    <td class="w100">
                                        <ng-container >
                                            <strong class="{{val.status}}">
                                                {{val.status}}
                                            </strong>
                                        </ng-container>
                                      
                                    </td> 
                                    <!-- <td class="w100 text-center">{{val.dealer_points}}</td> -->
                                    <td class="w100 text-center">{{val.karigar_points}}</td>
                                    
                                </tr>
                                
                                
                                
                            </table>
                        </div>
                        
                        <div class="date-not" *ngIf="site_locations.length == 0">
                            <div class="no-img">
                                <img src="assets/not-available.jpg"> 
                            </div>
                        </div>
                    </div>
                </div>

                <div class="css-table" *ngIf="mode == '4'">
                    <div class="sticky-header">
                        <div class="header">
                            <table>
                                <tr>
                                    <th class="w50">S No</th>
                                    <th class="w200">Date Created</th>
                                    <th class="w100">Log Type</th>
                                    <th class="w100">Points</th>
                                    <th>Summary</th>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="table-container">
                        <div class="table-body">
                            <table>
                                <tr *ngFor="let val of referral_data; let i = index">
                                    <td class="w50">{{ i + 1 }}</td>
                                    <td class="w200">{{ val.date_created | date: 'dd MMM yyyy' }}</td>
                                    <td class="w100">{{val.log_type}}</td>
                                    <td class="w100">{{val.points}}</td>
                                    <td>{{val.summary}}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="date-not" *ngIf="referral_data.length == '0'">
                            <div class="no-img">
                                <img src="assets/not-available.jpg">
                            </div>
                        </div>
                    </div>
                </div>

              




            </div>
        </div>

        <div class="add-button">
            <button mat-button (click)="edit()"><i class="material-icons">edit</i></button>
        </div>


    </div>
</div>